.text-box {
    border-radius: 10px;
    height:27px;
}

body{
    font-family:arial;

}

button{
    width:200px;
    border-radius:5px;
    height:30px;
    font-size:16px;
    background-color:#d8dce3;
}

.button{
    width:200px;
    border-radius:5px;
    height:30px;
    font-size:16px;
    background-color:#a4bde3;
    border: solid 2px #416aff;
}

div.afspraak{
    padding-left:20px;
}

div.personal_en_afspraak{
    display:flex;
    flex-direction:row;
}

div.behandelingen{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
}

div.knippen{
    padding-left:50px;
}

form.wijzigen{
    display:flex;
    justify-content:flex-end;
    flex-direction:column;
    width:400px;
}

@media(max-width:800px) {

    div.personal_en_afspraak {
        flex-direction: column;
    }

    div.afspraak{
        margin-left:0px;
    }

    div.behandelingen{
        flex-direction:column;
    }

    div.knippen{
        margin-left:0px;
    }

}


@media(max-width:500px) {

    form.wijzigen{
        display:flex;
        justify-content:flex-end;
        flex-direction:column;
        width:70vw;
    }
}