footer {
    background-color: grey;
    position: fixed;
    right:0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    height:30px;

}
div.afbeeldingen {
    position: absolute;
    right: 0;
    left: 0;
    border-bottom:solid 1px gray;
    display:flex;
    justify-content:space-evenly;
}

div.afb_overlay{
    background-image:linear-gradient(to top, rgba(255,0,0,0), rgba(196,63,91,0.5));
    position: absolute;
    right: 0;
    left: 0;

}

img{
    float:left;
    width:33%;
    right:0;
    left:0;
    height:33%;
}

div.informatie{
margin-top:20%;
}

.info{
    float:left;
    width:50%;
    padding:10px;
    text-align:center;
    box-sizing: border-box;
}

div.contact_info{
   /* margin-top: -14.8%;  */
    width:40vw;

 /*   margin-left:58vw;
    border-style:solid;
    border-color:gray;   */
}

h2{
    margin-left: 10px;
}

p{
    margin-left: 10px;
}

div.reserveren{
 /*   border-style:solid;
    border-color:gray; */



}

button.reserveren-button{
    border-radius:5px;
    width:40vw;
    height: 80px;
    font-size: 35px;
    margin-top: 0px;
    background-color:black;
    color:white;


}

body{
    font-family: Arial;
    margin-left: 0;

}

div.titel{

    border-bottom:solid 1px black;
  width:100vw;
    background-color: #4a3630;
margin-top:-8px;

}

div.ondertitel{ border:solid 1px black;
    height: 50px;
    width:100%;
    background-color: #c14d66;



}

a.menubutton:hover{
    background-color:black;
}

a.algvw{
    display:flex; justify-content:center;
    margin-top:-22px;

}
span.alg::after{
    content: "Algemene voorwaarden";
}
@media(max-width: 900px) {
    footer{
        position: fixed;
    }


    a.algvw {
        display: flex;
        justify-content:flex-end;
        margin-top:-30px;
    }

    span.alg::after{
       content: url("images/algvw.png");
    }

    button.reserveren-button{
        font-size: 130%;
    }
}

@media(max-width: 400px) {
    footer.ingelogd {
        height: 50px;
    }
}